html {
    background-color: black;
}

.main {
    background-color: rgb(203, 220, 247);
    height:1300px;

    position: relative;
}

.projectHeader{
    background-color: rgb(132, 173, 234);
    text-align: center;
    font-weight: bold;
}

.projectMainTitle {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
}

.projectMain1 {
    background-color: rgb(164, 194, 241);
    width: 60%;
    height: 35%;
    margin: 0 auto;
    border-radius: 1.5%;

    position: relative;
}

.mainPicture1 {
    position: absolute;
    top: 7%;
    left: 3%;
}

.mainDescription1 {
    position: absolute;
    top: 10%;
    right: 10%; 
}

.mainTitle {
    
}

.mainDescription1 p {
  
}

.projectMain2 {
    background-color: rgb(164, 194, 241);
    width: 60%;
    height: 35%;
    margin: 2% auto;
    border-radius: 1.5%;

    position: relative;
}

.mainPicture2 {
    position: absolute;
    top: 7%;
    left: 3%;
}

.mainDescription2 {
    position: absolute;
    top: 10%;
    right: 10%; 
}

.mainTitle2 {
    
}

.mainDescription2 p {
  
}

footer{
    position: absolute;
    background-color: rgb(132, 173, 234);
    width: 100%;
    bottom: 0%;
}

footer p {
    text-align: center;
    font-weight: bold;
}
